body{

	background: #076585;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fff, #076585, transparent);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fff, #076585, transparent); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



#form-container{

	margin-top: 60px;
	margin-bottom:30px;
	
}

#submitbutton{

	margin-top:20px;
	background-color: rgb(41, 162, 232);
	font-size: 25px;
}
h2{

	margin-bottom:30px;
	color:white;
	text-align:center;
}

form{

	padding:20px;
	border:1px solid #ed8b8b;
	background-color: rgba(255,255,255,0.4);
	border-radius: 20px;
}
#sucessmessage{

	margin-top:200px;
	height:54vh;
	font-size:30px;
	text-align:center;
}

#sucessmessage p a{
	color:green;
	text-decoration: none;
}

#icon{

	width:100px;
	height:100px;
	padding-top: 15px;
	position:relative;
	bottom:50px;
	background-color:rgba(196, 190, 190, 0.8);
	border-radius: 50%;
	color:white;
}